@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Opiniones reales, decisiones inteligentes.</p>

    <div class="mb-3 d-flex justify-content-end align-items-center">
        <label for="filtro" class="form-label text-end me-2">Filtrar por:</label>
        <select id="filtro" class="form-select w-25 text-end">
            <option value="todos">Todos</option>
            <option value="mejor">Mejor puntuado</option>
        </select>
    </div>
    <p>Reseñas Recientes</p>


  
    <div class="row gy-4" >
    <div class="col-sm-12 col-md-4">
            <img class="img-fluid img-dimensiones" src="~/imag/laptop.png" />
    </div>

        <div class="col-sm-12 col-md-4">
            <img class="img-fluid img-dimensiones " src="~/imag/auriculares.png" />
    </div>

        <div class="col-sm-12 col-md-4">
            <img class="img-fluid img-dimensiones " src="~/imag/net.png" />
    </div>
        <div class="col-sm-12 col-md-4">
            <img class="img-fluid img-dimensiones " src="~/imag/smartwatch.png" />
        </div>

</div>
</div>






