 @model PWA1.Models.PorfolioVM


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Opiniones reales, decisiones inteligentes.</p>

    <div class="mb-3 d-flex justify-content-end align-items-center">
        <label for="filtro" class="form-label text-end me-2">Filtrar por:</label>
        <select id="filtro" class="form-select w-25 text-end">
            <option value="todos">Todos</option>
            <option value="mejor">Mejor puntuado</option>
        </select>
    </div>
    

    <div style="margin-top: 110px; margin-bottom: 90px;">
        @if (Model.resenias is not null)
        {
            <div class="text-center">
                <h1>Reseñas Recientes</h1>

            </div>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    @foreach (var resenia in Model.resenias)
                    {
                        <div class="col">
                            <div class="card h-100">
                                <img src="@resenia.imagen" class="card-img-top imagen-fija" alt="imagen resenia" />
                                <div class="card-body">
                                    <h2 class="card-title">@resenia.titulo</h2>
                                    <!---  <p class="card-text">resenia.detalle</p> --->
                                </div>
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

    </div>

  
   
 </div>







